body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the content is centered vertically */
  margin: 0;
}

#header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 6px solid black;
  border-radius: 20px;
  font-size: 125px;
  padding: 20px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}