html, body {
  display: grid;
  place-items: center;
  height: 100%;
}

#header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 6px solid blue;
  border-radius: 20px;
  font-size: 125px;
  padding: 20px;
  width: clamp(200px, 90%, 600px);
}
